.media {
    display: block;
}

.media-left,.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left {
    padding-right: 10px;
}

.img-avatar {
    width: 37px;
    height: 37px;
    vertical-align: middle;
}

.img-circle {
    border-radius: 100%;
}