.media {
    display: block;
}

.media-left,.media-body {
    display: table-cell;
    vertical-align: bottom;
}

.media-left {
    padding-right: 10px;
    vertical-align: top;
}

.img-avatar {
    height: 56px;
    width: 56px;
    vertical-align: middle;
}

.img-circle {
    border-radius: 100%;
}
